@charset "UTF-8";
/* éclairssissement couleur fond bouton */
/* style spinner */
@-webkit-keyframes apparition-spinner {
  from {
    opacity: 1;
    height: 100vh;
    width: 100%;
  }
  98% {
    opacity: 1;
    height: 100vh;
    width: 100%;
  }
  99% {
    opacity: 0;
    height: 100vh;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
@keyframes apparition-spinner {
  from {
    opacity: 1;
    height: 100vh;
    width: 100%;
  }
  98% {
    opacity: 1;
    height: 100vh;
    width: 100%;
  }
  99% {
    opacity: 0;
    height: 100vh;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
/* rotation spinner */
@-webkit-keyframes loader-spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes loader-spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
/* animation apparition  plats */
@-webkit-keyframes apparition-plat {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }
  20% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes apparition-plat {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }
  20% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* --------------------- Paramètres généraux de la page ------------------------- */
body {
  display: flex;
  font-family: "Roboto", sans-serif;
}

#bloc_page {
  width: 100%; /* largeur de la page */
  max-width: 1500px;
  margin: auto;
}

.titre-section {
  font-size: 20px;
  margin-left: 15px;
}

/* *************************** en-tête *********************************** */
.entete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
  position: relative;
}
.entete > a {
  position: absolute;
  left: 15px;
  font-size: 25px;
  text-decoration: none;
  color: black;
}
.entete > img {
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ****************************************** Page accueil *********************************************** */
/* ------------------------- formulaire de recherche --------------------------- */
.form-rech {
  background-color: #f2f0f0;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .form-rech {
    margin-bottom: 10px;
  }
}

.input {
  display: flex;
  justify-content: center;
  background-color: #e3e3e3;
  padding: 10px 0 10px 0;
}
.input__ico {
  align-items: center;
  padding-top: 4px;
}
.input__rech--style {
  background-color: #e3e3e3;
  border: none;
  font-weight: bold;
  padding-left: 10px;
}

.lib {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 15px 0 0 0;
}
.lib > h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 0 60px 0 60px;
  margin: 15px 0 0 0;
}
.lib > p {
  font-size: 16px;
  padding: 0 30px 0 30px;
  margin: 15px 0 0 0;
}

.bouton {
  display: flex;
  justify-content: center;
  margin: 15px 0 0 0;
}
.bouton__explor {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  box-shadow: 5px 5px 5px #9356DC;
}
.bouton__explor:hover {
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: 5px 5px 5px #6023a9;
}
.bouton__cde {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  box-shadow: 5px 5px 5px #9356DC;
}
.bouton__cde:hover {
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: 5px 5px 5px #6023a9;
}

/* ------------------------- fonctionnement --------------------------- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .rech-fonc {
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1024px) {
  .fonction__ligne {
    display: flex;
    justify-content: space-between;
  }
}

.ligne {
  display: flex;
  align-items: baseline;
  font-size: 15px;
  margin: 0 15px 15px 20px;
  padding: 5px 0 5px 0;
  background-color: #f2f0f0;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #e3e3e3;
}
.ligne__num {
  position: relative;
  left: -10px;
  padding: 5px 8px 3px 8px;
  background-color: #9356DC;
  color: white;
  border: none;
  border-radius: 25px;
}
.ligne__ico {
  margin-left: 20px;
}
.ligne__lib {
  margin-left: 20px;
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  .ligne__lib {
    margin-right: 20px;
  }
}
.ligne:hover .ligne__ico {
  color: #9356DC;
}

/* ------------------------- restaurants --------------------------- */
.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f2f0f0;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants__ligne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__ligne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.restaurants__cadre {
  margin: 0 15px 0 15px;
  display: flex;
  flex-direction: column;
}
.restaurants__cadre > a {
  padding: 5px 10px;
  font-size: 25px;
  text-decoration: none;
  color: black;
}
.restaurants__cadre > a .fa-solid {
  display: none;
}
.restaurants__cadre__coeur:hover .fa-solid {
  display: block;
  color: #c9abee;
}
.restaurants__cadre__coeur:hover .fa-regular {
  display: none;
}

.resto-photo {
  display: flex;
  position: relative;
}
.resto-photo > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.resto-photo__nouveau {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 5%;
  margin: 0;
  padding: 10px;
  background-color: #99E2D0;
  font-size: 13px;
  font-weight: bold;
  color: #1b6150;
}
.resto-photo__nouveau--hidden {
  display: none;
}

.resto-lib {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 0 0 15px 15px;
  background-color: white;
  padding: 15px;
}
.resto-lib__titre {
  font-size: 16px;
  margin: 0 0 5px 0;
}
.resto-lib__lieu {
  font-size: 15px;
  margin: 0;
}

/* ****************************************** Pages resto *********************************************** */
.menu__photo > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carte {
  display: flex;
  flex-direction: column;
  background-color: #f2f0f0;
  padding-top: 20px;
  padding-bottom: 40px;
  border-radius: 25px 25px 0 0;
  width: 100%;
  position: relative;
  margin-top: -40px;
}
.carte__nom-resto {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 15px;
}
.carte__nom-resto > h1 {
  margin: 0;
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}
.carte__nom-resto__coeur .fa-regular {
  font-size: 35px;
}
.carte__nom-resto__coeur .fa-solid {
  display: none;
}
.carte__nom-resto__coeur:hover .fa-solid {
  display: block;
  color: #c9abee;
  font-size: 35px;
}
.carte__nom-resto__coeur:hover .fa-regular {
  display: none;
}
@media screen and (min-width: 1024px) {
  .carte__cadre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .carte__cadre__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.carte__titre {
  margin: 15px 0 0 10px;
}
.carte__titre > h2 {
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
}
.carte__titre > p {
  color: #99E2D0;
  font-weight: bold;
  margin: 0;
}
.carte__plat {
  display: flex;
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  padding-left: 10px;
}
.carte__plat > .anim-checked {
  padding: 20px 0px 20px 0px;
  min-width: 0px;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 15px 15px 0;
  transform: scaleX(0);
  transform-origin: right 50%;
}
.carte__plat > .anim-checked > i {
  display: flex;
  font-size: 25px;
  justify-content: center;
}
.carte__plat:nth-child(1) {
  -webkit-animation-name: apparition-plat;
          animation-name: apparition-plat;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  opacity: 1;
}
.carte__plat:nth-child(2) {
  -webkit-animation-name: apparition-plat;
          animation-name: apparition-plat;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  opacity: 1;
}
.carte__plat:nth-child(3) {
  -webkit-animation-name: apparition-plat;
          animation-name: apparition-plat;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  opacity: 1;
}
.carte__plat:last-child {
  -webkit-animation-name: apparition-plat;
          animation-name: apparition-plat;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  opacity: 1;
}
.carte__plat:active .anim-checked {
  width: 70px;
  transform: scaleX(1);
  transition: transform 500ms linear;
}
.carte__plat:active .anim-checked > i {
  transform: rotate(720deg);
  transition: transform 500ms;
}
@media screen and (min-width: 1024px) {
  .carte__plat:hover .anim-checked {
    width: 70px;
    transform: scaleX(1);
    transition: transform 500ms linear;
  }
  .carte__plat:hover .anim-checked > i {
    transform: rotate(720deg);
    transition: transform 500ms;
  }
}

.plat {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.plat__titre {
  font-size: 16px;
  margin: 15px 0 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.plat__lib {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
  margin: 10px 0px 10px 0;
  min-width: 0px;
  justify-content: space-between;
}
.plat__lib__sstitre {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.plat__lib__prix {
  font-weight: bold;
  margin: 0;
}

/* ************************************ pieds (toutes les pages) ************************************* */
.pied {
  background-color: black;
}
.pied__titre {
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-size: 15px;
  margin: 0 0 0 15px;
  padding: 15px 0;
}

.rubriques {
  margin-left: 15px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .rubriques {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .rubriques {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 15px;
  }
}
.rubriques__propo {
  display: flex;
  flex-direction: column;
}
.rubriques__propo > a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}
.rubriques__propo > a > i {
  margin-right: 10px;
  width: 20px;
}
.rubriques__autres {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media screen and (min-width: 1024px) {
  .rubriques__autres {
    flex-direction: row;
    justify-content: space-between;
  }
}
.rubriques__autres > a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

/* ************************************ loading spinner ************************************* */
.load-spin {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  background: white;
  opacity: 0;
  -webkit-animation: apparition-spinner 3s 1;
          animation: apparition-spinner 3s 1;
}

.loader {
  margin-top: 100px;
  width: 175px;
  height: 175px;
  -webkit-animation: loader-spinner 3s linear infinite;
          animation: loader-spinner 3s linear infinite;
}
.loader > p {
  position: absolute;
  justify-content: center;
  align-content: center;
  margin: 0;
  z-index: 2;
}
.loader > span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#9356DC, #FF79DA, #99E2D0);
}
.loader > span:nth-child(1) {
  filter: blur(15px);
}
.loader > span:nth-child(2) {
  filter: blur(20px);
}
.loader > span:nth-child(3) {
  filter: blur(35px);
}
.loader > span:nth-child(4) {
  filter: blur(60px);
}
.loader:after {
  content: "Ohmyfood";
  font-family: "Shrikhand", sans-serif;
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: white;
  border-radius: 50%;
  border: solid #f1f1f1 10px;
}/*# sourceMappingURL=styleohmyfood.css.map */